<style>
    /* Custom CSS for fixed top header */
    body {
      padding-top: 50px; /* Add padding to body to prevent content from being hidden behind the fixed header */
    }

    .fixed-top-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1030;
    }

    .content-div {
      margin-top: 70px; /* Add margin-top to push content below the fixed header */
    }
  </style>

<style>
  .dropdown-menu li {
  position: relative;
}
.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
}
</style>
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0" style="margin-top: 0%;">
  <a href="/" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
    <img src="../../img/logo.jpg" style="height: 50px; width: 100%;">
      <!-- <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>ENTEL EDUCATION</h2> -->
  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto p-4 p-lg-0">
          <a href="/" id="homelink" class="nav-item nav-link">Home</a>
         
          <div class="nav-item dropdown">
            <a href="#"  id="aboutlink" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About Us</a>
            <div class="dropdown-menu fade-down m-0">
              <a href="/about" class="dropdown-item">About</a>
             
              <a href="/team" class="dropdown-item">Our Team</a>
              <a href="/contact" class="dropdown-item">Contact Us</a>
            </div>
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="academicsDropdown" role="button" data-bs-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Training And Consultancy</a>
          <div class="dropdown-menu" aria-labelledby="academicsDropdown">
           
           
            <a class="dropdown-item" href="/oshatrainings">OSH Training And Consultancy</a>
            <a class="dropdown-item" href="/educationconsultancy">Education Consultancy</a>
           
            
          </div>
         
        </div>
    
    
      <div class="dropdown">
        <a
          class="nav-link dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          Acadamics
       </a>
       <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <% if (category.length > 0) { %>
          <% category.forEach(function (cat) { %>
            <% var maincat = cat.catid; %>
            <li>
              <a class="dropdown-item" href="/acadamicssearchtutor/<%= cat.catname %>"><%= cat.catname %></a>
              <% var subcatList = subcategory.filter(function (subcat) {
                return subcat.catid === maincat;
              }); %>
              <% if (subcatList.length > 0) { %>
                <ul class="dropdown-menu dropdown-submenu">
                  <% subcatList.forEach(function (subcat) { %>
                    <li>
                      <a class="dropdown-item" href="/acadamicssearchtutor/<%= subcat.subcatname %>"><%= subcat.subcatname %></a>
                    </li>
                  <% }) %>
                </ul>
              <% } %>
            </li>
          <% }) %>
        <% } else { %>
          <!-- Handle empty category case -->
        <% } %>
      </ul>
      
      
      </div>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="academicsDropdown" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Enrichments</a>
            <div class="dropdown-menu" aria-labelledby="academicsDropdown">
             
             
              <a class="dropdown-item" href="/personaldevelopment">Personal Development</a>
              <a class="dropdown-item" href="/stem">STEM</a>
              <a class="dropdown-item" href="/summercamp">Summer Camp</a>
              <a class="dropdown-item" href="/codeprogramming">Coding</a>
            </div>
              <!-- <div class="dropdown-menu fade-down m-0">
                  <a href="/acadamics-lowgrade-tutor" class="dropdown-item">Grade 1-8</a>
                 
              </div> -->
          </div>
        
      
          
        <a href="/forschools" id="forschools" class="nav-item nav-link">For Organizations</a>
          <a href="/search-for-tutor" class="nav-item nav-link"><i class="fas fa-search"></i></a>
          <a href="/apply-for-becoming-tutor" id="becometutor" class="nav-item nav-link">Become a Tutor</a>
          <!-- <a href="/login" id="signinlink" class="nav-item nav-link">Sign In</a> -->
      </div>
      <!-- <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Join Now<i class="fa fa-arrow-right ms-3"></i></a> -->
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top fixed-top-header" style="height: 40px; margin-bottom: 0%;">
  <div class="container">
      <a class="navbar-brand mx-auto" href="tel:0000">We're open! Call now: (0000)</a>
  </div>
  <!-- Add your header navigation items here -->
</nav>
  
<script>
  // Get the current URL pathname
  var currentPath = window.location.pathname;

  // Find the link corresponding to the current route and add the "active" class
  if (currentPath === '/') {
    document.getElementById('homelink').classList.add('active');
  } else if (currentPath === '/about') {
    document.getElementById('aboutlink').classList.add('active');
  } else if (currentPath === '/enrichments') {
    document.getElementById('enrichmentslink').classList.add('active');
  } else if (currentPath === '/applyforbecomingtutor') {
    document.getElementById('becometutor').classList.add('active');
  } else if (currentPath === '/signin') {
    document.getElementById('signlink').classList.add('active');
  } else if(currentPath === '/forschools'){
    document.getElementById('forschools').classList.add('active');
  }
  

</script>
<script>
  $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
  if (!$(this).next().hasClass('show')) {
    $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
  }
  var $subMenu = $(this).next(".dropdown-menu");
  $subMenu.toggleClass('show');


  $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
    $('.dropdown-submenu .show').removeClass("show");
  });


  return false;
});
</script>