<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
 
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <!-- <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div> -->
    <!-- Spinner End -->


    <!-- Navbar Start -->
  
    <%- include ('./partials/header') %>
    <!-- Navbar End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="img/appfortutor.jpg" alt="" style="height: 650px;">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Empowering Tutors. Transforming Education.
                                  <h1 class="display-3 text-white animated slideInDown">  Together, we create impact. We simplify the process.</h1>
                                <p class="fs-5 text-white mb-4 pb-2">        
                                    Equip yourself with tailored resources to elevate every tutoring session, enabling students to achieve their aspirations effortlessly.</h5>
                        </p>
                                <a href="#more" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                                <a href="/tutor-application-form" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <!-- Carousel End -->


    <!-- Service Start -->
    <section class="container-xxl py-5" id="more" >
        <div class="container">
            <div class="container container--large"><div class="text-block text-block--center" data-component="text_block">
                
                    <div class="text-center">
                        <h6 class="section-title bg-white text-center text-primary px-3">Why tutor with us?</h6>
                        <h1 class="mb-5"></h1>
                    </div>
              </div>
              
              
              </div>
              <section class="illustration-bar illustration-bar--horizontal" data-component="image_bar">
                <div class="container ">
                  <div class="row">
                      <div class="col-md-4">
                        <div class="illustration-block illustration-block--top" data-component="image_block">
                  <div class="illustration-block__illustration">
                      <span class="icon"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" width="128" height="128"><title>spot-ill_</title><rect width="128" height="128" style="fill:none"></rect><path d="M64.2,80.91c5.64,0,11.39-1.23,15.35-5.19A64,64,0,0,1,71.81,90,15.07,15.07,0,0,1,56.6,90a64,64,0,0,1-7.74-14.24C53.12,77.76,58.57,80.91,64.2,80.91Z" style="fill:#eaf6f9"></path><path d="M53.88,25.81a1,1,0,0,0-.38-.16A70.77,70.77,0,0,1,64.2,12,69.85,69.85,0,0,1,74.91,25.65a1,1,0,0,0-.38.16A20.16,20.16,0,0,1,64.2,28.33,20.2,20.2,0,0,1,53.88,25.81Z" style="fill:#eaf6f9"></path><path d="M64.2,76.91c5.94,0,11.58-1.38,15.44-3.78.48-.3,1.75-1,1.75-1a41.47,41.47,0,0,0,1.33-6.53,61.51,61.51,0,0,0-5.94-36.54c0,.06-.1.08-.14.12A24.29,24.29,0,0,1,64.2,32.33a24.29,24.29,0,0,1-12.44-3.12,1.3,1.3,0,0,1-.14-.12,61.42,61.42,0,0,0-5.93,36.54A41.47,41.47,0,0,0,47,72.16s1.27.67,1.74,1C52.62,75.53,58.26,76.91,64.2,76.91Z" style="fill:#e2f2f7"></path><path d="M94.22,85.54,92.58,84v0L80.7,72.66l2.37-13,.12-.64C95.7,62.06,97.91,76.26,94.22,85.54Z" style="fill:#eaf6f9"></path><path d="M45.24,59C32.72,62.06,30.52,76.27,34.19,85.54L47.71,72.67Z" style="fill:#eaf6f9"></path><path d="M51.65,60.72c3,20.38,7.64,29.52,8.61,30.78A12.54,12.54,0,0,1,56.6,90s-9-11.62-10.91-26.34C43.34,45.92,47.53,26.7,64.2,10c1.37,1.36,2.62,2.72,3.8,4.12C61.64,20.48,48.33,38.68,51.65,60.72Z" style="fill:#fff"></path><path d="M94.22,85.54,92.58,84v0c0-.22,0-.46,0-.7,0-7.7-1.83-17.46-9.85-19.64l.35-4,.12-.64C95.7,62.06,97.91,76.26,94.22,85.54Z" style="fill:#fff"></path><path d="M36.15,83.67c-1.64-6.2,1.32-18,8.93-20.51.74-1.06-.32-6.06-.32-6.06L30.51,58.16,28.82,86,36,87.22Z" style="fill:#fff"></path><path d="M71.81,90s9-11.62,10.92-26.33C85.08,45.92,80.9,26.71,64.21,10,47.52,26.71,43.34,45.92,45.69,63.63,47.64,78.34,56.61,90,56.61,90a15,15,0,0,0,15.2,0Z" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-width:2px"></path><path d="M83.18,59c12.52,3.07,14.72,17.28,11,26.55L80.71,72.67" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path><path d="M45.24,59C32.72,62.06,30.52,76.27,34.19,85.54L47.71,72.67" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path><path d="M52.83,25.51a22,22,0,0,0,11.38,2.82A22,22,0,0,0,75.59,25.5" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path><path d="M47.71,72.82c4,2.51,9.93,4.09,16.5,4.09s12.47-1.58,16.5-4.09" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path><circle cx="64.21" cy="50.25" r="8.82" style="fill:#fff;stroke:#ef7f88;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px"></circle><path d="M8.29,92.36a8.6,8.6,0,0,1,14.89,8.21,8.44,8.44,0,0,1-.76,1.57" style="fill:none;stroke:#6c81ba;stroke-width:2px"></path><path d="M16.53,111.09a8.48,8.48,0,0,1,.5-3.6,8.6,8.6,0,0,1,11-5.15,8.79,8.79,0,0,1,5.44,6.11,8.28,8.28,0,0,1,10.84-4.67,8.61,8.61,0,0,1,5.14,11,8.35,8.35,0,0,1-.63,1.35h0A8.61,8.61,0,0,1,57.52,126" style="fill:none;stroke:#6c81ba;stroke-width:2px"></path><path d="M71.59,126a11.85,11.85,0,0,1,7.66-9.19c.64-.24,2-.54,2-.54a12.1,12.1,0,0,1-.77-4.48,11.88,11.88,0,0,1,22.23-5.57" style="fill:none;stroke:#6c81ba;stroke-width:2px"></path><path d="M104.77,113.93a9,9,0,0,1-1.69-2.87,9.13,9.13,0,0,1,16.63-7.42" style="fill:none;stroke:#6c81ba;stroke-width:2px"></path><line x1="64.2" y1="98.96" x2="64.2" y2="114.12" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-width:2px"></line><line x1="70.8" y1="94.8" x2="70.8" y2="109.32" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-width:2px"></line><line x1="57.61" y1="95.97" x2="57.61" y2="106.17" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-width:2px"></line></svg>
              </span></span>
                  </div>
                <div class="illustration-block__content illustration-block__content--illustration">
                        <div class="illustration-block__heading">
                            Earn Extra Money
                        </div>
                  <div class="illustration-block__text">
                    <div class="text-block" data-component="text_block">
                <div class="container container--medium"><p>We make it easy to earn some extra money doing what you love. And when it comes to finding new clients, we do it for you.</p>
              </div>
              
              
              </div>
                  </div>
                </div>
              </div>
                      </div>
                      <div class="col-md-4">
                        <div class="illustration-block illustration-block--top" data-component="image_block">
                  <div class="illustration-block__illustration">
                      <span class="icon"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" width="128" height="128"><title>spot-ill_</title><rect width="128" height="128" style="fill:none"></rect><polygon points="106.96 26.39 92.52 26.39 92.52 99.71 77.21 99.71 77.21 108.32 50.99 108.32 50.99 99.71 35.75 99.71 35.75 115.68 106.96 115.68 106.96 51.91 103.48 49.13 106.96 49.13 106.96 26.39" style="fill:#e2f2f7"></polygon><rect x="50.99" y="72.07" width="7.7" height="36.25" transform="translate(109.68 180.39) rotate(-180)" style="fill:#e2f2f7"></rect><rect x="50.99" y="72.07" width="26.42" height="6.98" transform="translate(128.4 151.12) rotate(-180)" style="fill:#e2f2f7"></rect><polyline points="15.45 54.91 64 16.07 112.55 54.91" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></polyline><polyline points="28.39 90.19 28.39 108.32 99.61 108.32 99.61 20.92 85.04 20.92 85.04 32.97" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></polyline><line x1="28.39" y1="44.55" x2="28.39" y2="90.2" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></line><polyline points="50.99 108.32 50.99 72.07 77.21 72.07 77.21 108.32" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></polyline><path d="M50.79,50.14H62.52V38.61H50.79ZM65.67,38.61V50.14H77V38.61Zm0,26.22H77V53.29H65.67Zm-14.88,0H62.52V53.29H50.79Z" style="fill:#e2f2f7"></path><path d="M45.35,109.37H9.18c-1.76-2.66-3.63-5.8-4.21-7.86v-.05a6.34,6.34,0,0,1-.3-1.67C4.59,98.53,5,97,7.06,97c2.9-.09,6.35,4.26,6.35,4.26S14.46,99,18,99.11a14,14,0,0,1,5.38,1.2s-3-10.87.81-10.49c4.29.44,7.53,11.76,7.53,11.76s1.4-7.93,4.39-7.62c3.15.31,4.59,8.08,4.59,8.08S45,95.22,45.35,109.37Z" style="fill:#ef7f88"></path></svg>
              </span></span>
                  </div>
                <div class="illustration-block__content illustration-block__content--illustration">
                        <div class="illustration-block__heading">
                            Tutor On Your Terms
                        </div>
                  <div class="illustration-block__text">
                    <div class="text-block" data-component="text_block">
                <div class="container container--medium"><p>Be your own boss. Manage your own schedule, accept only the opportunities you want, and work from wherever you’d like.</p>
              </div>
              
              
              </div>
                  </div>
                </div>
              </div>
                      </div>
                      <div class="col-md-4">
                        <div class="illustration-block illustration-block--top" data-component="image_block">
                  <div class="illustration-block__illustration">
                      <span class="icon"><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128" width="128" height="128"><title>spot-ill_</title><rect width="128" height="128" style="fill:none"></rect><path d="M45.77,64.3l-.57-4.41-2.63-.75a5.62,5.62,0,0,1-4.26-5.44v-4a5.63,5.63,0,0,1,4.29-5.44l.17,0V35.24h0A16.2,16.2,0,0,0,30.05,48.82C28.69,58.45,31.57,70,36.24,73.14c7.17,4.8-1.17,15.65-1.17,15.65h0A20.23,20.23,0,0,1,43.51,87H48l5-8.28A20.19,20.19,0,0,1,45.77,64.3ZM103.45,82l-1.59-4.27c13.06,0,19-4.93,19-5.65s-4.11-2.9-8-9.12c-4.6-7.39.22-14.63-5.33-21.47a17.36,17.36,0,0,0-8.47-5.39L92.72,37a28.58,28.58,0,0,1,1.7,5.13,31.34,31.34,0,0,1,.48,10.16c-.55,5.9-1.11,11.93-5.32,17.81A26.84,26.84,0,0,1,82,77.14l3,6.08A52,52,0,0,1,95.6,85.77c6,2.15,12.4,4.41,15.25,10.25a14.78,14.78,0,0,1,1.44,6.88l8,.26A19.31,19.31,0,0,0,103.45,82Z" style="fill:#e2f2f7"></path><path d="M116.49,98.75v-.62a14.21,14.21,0,0,0-14.21-14.21H98.64L96.1,77.73c13.05,0,17.49-5.28,17.49-6.06s-3.77-3.1-7.33-9.77c-4.22-7.92.2-15.69-4.9-23a15.83,15.83,0,0,0-7.77-5.77" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path><path d="M97.09,90.85a21.69,21.69,0,0,0-8.37-2.06,12.92,12.92,0,0,1-1.51,5.88c-4,7.73-15.42,14.55-31.08,14.55h48.95a1,1,0,0,0,.55-.87v-.85A20.5,20.5,0,0,0,97.09,90.85ZM90.28,49.12a4.21,4.21,0,0,0-.84-.3l-.2-.07-.7-.16v-3A5.71,5.71,0,0,0,86,44.23l-.17,0V36.49a10.18,10.18,0,0,0,2.44-6.28A9.1,9.1,0,0,0,87.76,27a7,7,0,0,0-1.33-.79c-3.07-1.43-7.66-1.53-13-.31,2.94-.38,5.35.78,8.11,5,3.71,5.74-4.11,10.15-4.11,10.15s0,1.32-.06,3.45a21,21,0,0,1,3.32.75l1.1.37A1.73,1.73,0,0,1,83,47.28v5a8,8,0,0,1-6.29,7.56c-.47,5.6-1.19,10.87-2.3,13.19a22.19,22.19,0,0,1-2.25,3.76,12.51,12.51,0,0,1-4.24,3.94l0,0c-.31,0-.62,0-.93,0h-5.3a12.93,12.93,0,0,1-7.76-2.66l-1.09,2.66-1.75,2.42c6.16-.49,17,.77,22,4.71a23.62,23.62,0,0,0,1.66,1.74,5.22,5.22,0,0,1,1,3.11c.61.09,3-1.32,3.74-3.31a6.29,6.29,0,0,1,2.31-1.24l-.21-.34H80.1l-.82-1.33c-.8-1.55-1.6-2.9-2.24-3.91a8.09,8.09,0,0,0,.73-.46l-2.13-3.53a20.13,20.13,0,0,0,7.21-14.34l.57-4.46L86,59.15a5.65,5.65,0,0,0,4.3-5.45v-4A4.93,4.93,0,0,0,90.28,49.12ZM64.45,65.73A8.13,8.13,0,0,1,60,64l.58,1.11a6,6,0,0,0,2.93,3,2.41,2.41,0,0,0,.89.15,2.83,2.83,0,0,0,1-.24A6.11,6.11,0,0,0,68,65.17L68.63,64A8.44,8.44,0,0,1,64.45,65.73Z" style="fill:#e2f2f7"></path><path d="M81.83,45.68c-.32-.13-.7-.25-1.09-.37a20.08,20.08,0,0,0-5.26-.94,10.62,10.62,0,0,0-1.27,0,21,21,0,0,0-7.42,1.35,1.72,1.72,0,0,0-1.12,1.62v.06H63v-.06a1.74,1.74,0,0,0-1.15-1.63l-1.17-.39a20.45,20.45,0,0,0-5.34-.93c-.28,0-.6,0-.87,0a21.14,21.14,0,0,0-7.62,1.35,1.73,1.73,0,0,0-1.13,1.62v5a7.32,7.32,0,0,0,1.93,5l.14.18a9.22,9.22,0,0,0,6.65,2.71c4.72,0,8.56-3.52,8.56-7.84V50.81h2.72v1.51a7.45,7.45,0,0,0,2.19,5.24,8.69,8.69,0,0,0,5.25,2.53,9,9,0,0,0,1.27.07c4.73,0,8.57-3.52,8.57-7.84v-5A1.72,1.72,0,0,0,81.83,45.68Zm-27.6,11a4.76,4.76,0,0,1-.81-.06,5.33,5.33,0,0,1-3.05-1.45l-.12-.14a3.87,3.87,0,0,1-1.12-2.73V48.53a17.89,17.89,0,0,1,5.28-.76c.2,0,.41,0,.72,0a17.49,17.49,0,0,1,4.36.75v3.78C59.49,54.74,57.2,56.7,54.23,56.7Zm25.26-4.38c0,2.42-2.29,4.38-5.26,4.38a5.74,5.74,0,0,1-.71,0,5.36,5.36,0,0,1-3.19-1.52,4,4,0,0,1-1.21-2.82V49.15s0,0,0-.07,0,0,0-.07v-.48a17.63,17.63,0,0,1,5.09-.76,9.23,9.23,0,0,1,1,0,17.68,17.68,0,0,1,4.27.73Z" style="fill:#ef7f88"></path><path d="M104.66,108.35v-.86A19.56,19.56,0,0,0,85.1,87.93h-5l-5.74-9.5" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path><path d="M24,108.35v-.86A19.56,19.56,0,0,1,43.51,87.93h5l5.73-9.5" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path><path d="M64.31,80.83H67c7.72,0,14.17-7.18,14.93-16.6l.63-4.91,0-.19h0l3.21-.91a4.68,4.68,0,0,0,3.56-4.52v-4a4.67,4.67,0,0,0-3.56-4.51l-.89-.23V36.14h0a9.39,9.39,0,0,0,2.43-5.94,9,9,0,0,0-2-5.64c-3.49-4.31-13-4.15-23.51.34H51.34a7.61,7.61,0,0,0-7.61,7.61V44.93l-.89.23a4.68,4.68,0,0,0-3.57,4.51v4a4.69,4.69,0,0,0,3.57,4.52l3.21.91h0l0,.19.64,4.91c.75,9.42,7.21,16.6,14.93,16.6Z" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path><path d="M48.52,87.93c.27.47,5.47,8.9,15.54,9a18.36,18.36,0,0,0,16-9" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path><path d="M61,64a5.71,5.71,0,0,0,6.55,0" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path><path d="M9.81,98.75v-.62A14.21,14.21,0,0,1,24,83.92h6l2.08-7.17c-4.09-1.43-7.2-5.81-7.64-11.24L24,62l0-.14s-2.28-.64-2.28-.64a3.31,3.31,0,0,1-2.53-3.19V55.2A3.33,3.33,0,0,1,21.66,52l.63-.16c-2.38-7.52-4.42-17.8,7.59-16.05A16.44,16.44,0,0,1,37.74,31" style="fill:none;stroke:#6c81ba;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px"></path></svg>
              </span></span>
                  </div>
                <div class="illustration-block__content illustration-block__content--illustration">
                        <div class="illustration-block__heading">
                            Make a Lasting Impact
                        </div>
                  <div class="illustration-block__text">
                    <div class="text-block" data-component="text_block">
                <div class="container container--medium"><p>Share your knowledge with students hungry to learn. And build tutoring relationships that last for years and change lives.</p>
              </div>
              
              
              </div>
                  </div>
                </div>
              </div>
                      </div>
                  </div>
                </div>
              </section>
             </div>
               
        </div>
    </section>
    <!-- Service End -->
    <div class="text-center">
      <h6 class="section-title bg-white text-center text-primary px-3">How it works?</h6>
      <h1 class="mb-5"></h1>
  </div>
  <section class="bg-primary">
    <div class="container mt-5">
      <div class="container container--large">
        
          <div class="image-content__row
          image-content__row-odd  ">
           
            <div class="image-content__column image-content__text ">
              <div class="text-block" data-component="text_block">
      <div class="container container--medium">
          
    <div class="list-container py-5 pt-5">
      <div class="list-wrapper">
        
          <ol class="list list--numbers list--one-columns">
            <li class="list-item list-item--numbers list-item-numbers__bullet-secondary list-item-numbers__bullet-secondary-color ">
              
              <div class="list-text--numbers"><strong>Apply.</strong> Complete your application.<br></div>
            </li>
            <li class="list-item list-item--numbers list-item-numbers__bullet-secondary list-item-numbers__bullet-secondary-color ">
              
              <div class="list-text--numbers"><strong>Traine.</strong> Finish your training. <br></div>
            </li>
            <li class="list-item list-item--numbers list-item-numbers__bullet-secondary list-item-numbers__bullet-secondary-color ">
              
              <div class="list-text--numbers"><strong>Match.</strong> We’ll match you to students who are a fit for your experience &amp; preferences.<br></div>
            </li>
            <li class="list-item list-item--numbers list-item-numbers__bullet-secondary list-item-numbers__bullet-secondary-color ">
              
              <div class="list-text--numbers"><strong>Tutor.</strong> Deliver great instruction and form long-term relationships with students.<br></div>
            </li>
            <li class="list-item list-item--numbers list-item-numbers__bullet-secondary list-item-numbers__bullet-secondary-color ">
              
              <div class="list-text--numbers"><strong>Earn.</strong> Get paid 2x/week and opt to work with fewer or more students as you go.<br></div>
            </li>
          </ol>
      </div>
    </div></div>
    
    
    </div>
              
               </div>
          </div>
        
      </div>
    </div>
  </section>



    <!-- Testimonial Start -->
    <section id="faq" class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    
        <div class="" data-component="faq" itemscope="" itemtype="https://schema.org/FAQPage">
            <div class="faq__heading--container">
               
                <div class="container ">
                    <div class="text-center">
                        <h6 class="section-title bg-white text-center text-primary px-3">FAQ?</h6>
                        <h1 class="mb-5"></h1>
                    </div>
            </div>
            <div class="faq__container">
              <div itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                <details>
                  <summary itemprop="name">What will I need to apply?</summary>
                  <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div itemprop="text"><div class="list-container">
            <div class="list-wrapper container container--large">
              
                <ul class="list list--checkmarks list--one-columns">
                  <li class="list-item list-item--checkmarks list-item-checkmarks__bullet-secondary list-item-checkmarks__bullet-secondary-color ">
                    <div><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#000">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path>
          </svg>
          </div>
                    <div class="list-text--checkmarks">Contact Information<br></div>
                  </li>
                  <li class="list-item list-item--checkmarks list-item-checkmarks__bullet-secondary list-item-checkmarks__bullet-secondary-color ">
                    <div><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#000">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path>
          </svg>
          </div>
                    <div class="list-text--checkmarks">Education Information<br></div>
                  </li>
                  <li class="list-item list-item--checkmarks list-item-checkmarks__bullet-secondary list-item-checkmarks__bullet-secondary-color ">
                    <div><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#000">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"></path>
          </svg>
          </div>
                    <div class="list-text--checkmarks">Work Experience Documentation<br></div>
                  </li>
                </ul>
            </div>
          </div>
                    </div>
                  </div>
                </details>
              </div>
              <div itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                <details>
                  <summary itemprop="name">How long will it take to finish the application?</summary>
                  <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div itemprop="text"><p>Typically, an applicant can fill out the application in 10-15 minutes.</p>
          
                    </div>
                  </div>
                </details>
              </div>
              <div itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                <details>
                  <summary itemprop="name">Why i need to training before start working?</summary>
                  <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div itemprop="text">
                      <div>
                        <p>Training before starting a job is crucial for several reasons:</p>
                        <ul>
                          <li>
                            <strong>Familiarization:</strong> Training helps you become familiar with the company's policies, procedures, and work environment. It provides an opportunity to understand the organization's expectations, culture, and values, enabling you to align your work accordingly.
                          </li>
                          <li>
                            <strong>Skill Development:</strong> Training equips you with the necessary skills and knowledge to perform your job effectively. It helps you understand the tasks, responsibilities, and best practices related to your role. By acquiring new skills or enhancing existing ones, you become better equipped to handle job challenges and deliver high-quality work.
                          </li>
                          <li>
                            <strong>Confidence Building:</strong> Training instills confidence in your abilities. It helps you feel more prepared and competent in carrying out your responsibilities. When you have a solid understanding of your job requirements and possess the necessary skills, you can approach your work with confidence, resulting in improved performance.
                          </li>
                          <li>
                            <strong>Efficiency and Productivity:</strong> Proper training ensures that you understand the most efficient and effective ways to perform your tasks. It teaches you how to use tools, software, or equipment specific to your job, enabling you to work efficiently and maximize productivity. Well-trained employees are more likely to complete their work accurately and in a timely manner.
                          </li>
                          <li>
                            <strong>Safety and Compliance:</strong> Some jobs may involve safety protocols or compliance requirements. Training ensures that you are aware of safety procedures, regulations, and any potential risks associated with your job. It helps create a safe working environment and reduces the likelihood of accidents or violations.
                          </li>
                          <li>
                            <strong>Professional Growth:</strong> Training provides opportunities for professional growth and advancement. It can include workshops, seminars, or certifications that enhance your skills, knowledge, and qualifications. Investing in training demonstrates your commitment to self-improvement and can open doors to new career opportunities within the company or industry.
                          </li>
                        </ul>
                        <p>Overall, training before starting a job sets the foundation for success by equipping you with the necessary knowledge, skills, confidence, and understanding of the company's expectations. It helps you become a valuable asset to the organization and positions you for long-term growth and development.</p>
                      </div>
                    </div>
                  </div>
                </details>
              </div>
              <div itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                <details>
                  <summary itemprop="name">How much can I earn per hour?</summary>
                  <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div itemprop="text"><p>Rates vary depending on the subject. Rates are also different for 1-on-1 tutoring and small group class instruction. Additionally, the longer you tutor and the more positive reviews you receive, you have an opportunity to earn more per hour.</p>
          
                    </div>
                  </div>
                </details>
              </div>
              <div itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                <details>
                  <summary itemprop="name">If I don’t have teaching experience, can I still tutor?</summary>
                  <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div itemprop="text"><p>Yes! While teaching experience is great to have, many tutors on our platform do not have a teaching background.</p>
          
                    </div>
                  </div>
                </details>
              </div>
              <div itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
                <details>
                  <summary itemprop="name">Are there any restrictions on tutoring if I live in a certain area?</summary>
                  <div itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div itemprop="text"><p>Unfortunately, there are.</p>
          
                    </div>
                  </div>
                </details>
              </div>
            </div>
          </div>
    </section>
    
    <!-- Testimonial End -->
        

    <!-- Footer Start -->
    <%- include ('./partials/footer') %>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>