<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <style>
      .background-image {
  background-image: url("../../img/imp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

    </style>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
 
    <%- include ('./partials/header') %>
    <!-- Navbar End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="img/edu.jpg" alt="" style="height: 650px;">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown"> Educational Consultancy
                                </h5>
                                  <h1 class="display-3 text-white animated slideInDown">  </h1>
                                  <p class="fs-5 text-white mb-4 pb-2">
                                 ENTEL 
                               serves public, private nonprofit and private for-profit educational institutions. We also work with investors and foundations that are involved with the education industry.
                               </p> <a href="#more" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                                <a href="#contactus" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Contact Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <!-- Carousel End -->


    <!-- Service Start -->
    <section id="more">
        <div class="container-xxl py-5" >
            <div class="container">
                <div class="container container--large"><div class="text-block text-block--center" data-component="text_block">
                    
                        <div class="text-center">
                            <h6 class="section-title bg-white text-center text-primary px-3">How we help</h6>
                            <h1 class="mb-5"></h1>
                        </div>
                  </div>
                  <div>
                  
Clients engage us to:
<br>
<p>
   <h5> Identify and characterize opportunities. </h5>With sustainable growth and profitability as strategic imperatives, we provide an aggregated overview of both regional and global education markets, local market demand, and the competitive landscape. This helps reveal commercial opportunities and relationships, which is an essential step in establishing and strengthening regional and global presence.
 
   <h5> Assess potential investments.</h5> There’s a rapidly growing appetite for investment in the education sector, which has proved to be one of the most resilient industries. At the same time, more education companies are using acquisitions as a way to scale. We work closely with our private equity and corporate clients throughout the transaction cycle. Our support ranges from identifying attractive companies to performing commercial due diligence, as well as increasing portfolio company value growth and providing exit support.
     
   <h5> Define winning strategies.</h5> We help clients transform insights into actionable, tactical initiatives that are in line with their goals and objectives. We accomplish this by conducting deep-dive market assessments, using powerful analytics and combining an understanding of local markets with an awareness of global trends in the education industry.
     
  <h5>  Evaluate key areas for potential growth.</h5> We assess opportunities for clients aiming to increase their offerings via expansion into adjacent education subsectors such as edtech. With our understanding of the education industry size and its magnitude, we also help clients create business plans for new opportunities, taking into account specific objectives and priorities.
     
  <h5>  Create value from the ecosystem.</h5> We tap into our partnerships across the education network — in innovation, talent, capital and impact. Our deep global network puts us in a unique position to support our clients in strategy development, private equity investments, mergers and acquisitions, and other areas.
        
</p>
              </div>
                  </div>
               
                </div>
                
                <div class="container-xxl py-5" >
                    <div class="container">
                        <div class="container container--large"><div class="text-block text-block--center" data-component="text_block">
                            
                                <div class="text-center">
                                    <h6 class="section-title bg-white text-center text-primary px-3">K-12</h6>
                                    <h1 class="mb-5"></h1>
                                </div>
                          </div>
                          <div class="">
                            <div>
                                <p>Getting the K-12 system right is critical to a nation’s development. When primary and secondary education are successful, that can drive powerful social change with the ability to create the leaders of tomorrow. However, improving capabilities and outcomes requires strategic focus and timely interventions and improvements from both the private and public sector.

                                    Providers have struggled to keep pace with demand. Some have grown their networks, only to bump up against shortages of qualified teachers. Others face dwindling enrollment, often a result of declining birth rates in the localities they serve. Then there are state and local regulations, rapidly evolving standards, and the ever-present issue of access. Last but not least are the needs of parents and students, which can vary significantly from one community to another.</p>
                                    we take a bottom-up, data-driven approach to identifying opportunities for sustainable growth — at home and around the world. Clients engage us to:
                                    <ul>
                              
                                    <li>
                                       <strong> Decide what kind of school to create.</strong> This involves laying out the programs, facilities and staffing that a community needs and can support, all based on sound data and analysis. We can also help you make enrollment and financial projections, as well as arrive at effective strategies for pricing and technology.
                                    </li>
                                   
                                 <li> <strong>Expand your market footprint.</strong> We can help you understand a given locality’s regulatory, talent and competitive environment for K-12 education. From there, we can assist you in developing a go-to-market strategy and operational model that deliver against cost, revenue and profit objectives.
                                </li>  
                                <li>
                                   <strong> Find ways to grow/accelerate enrollment.</strong> We work with you to craft a differentiated value proposition, customize it to parent and student needs, and use it to attract families with global education aspirations. We can also support your efforts to develop scalable options via independent investment (including acquisitions) or public-private partnership.
                                
                                </li>
                                </ul>
                              </div>
                              
                              

                          </div>
                          
                          
                          </div>
                       
                        </div>
                        
                    </div>
        <div class="container-xxl py-5" >
            <div class="container">
                <div class="container container--large"><div class="text-block text-block--center" data-component="text_block">
                    
                        <div class="text-center">
                            <h6 class="section-title bg-white text-center text-primary px-3">Higher Education
                            </h6>
                            <h1 class="mb-5"></h1>
                        </div>
                  </div>
                  <div class="">
                    <div class="">
                
                        <div>
                           <p>
                            With the advent of mass higher education and growth in internationally mobile students, the global higher education market has witnessed a massive boom. Globalization has paved the way for “inclusion,” and higher education’s role in changing mindsets is critical. However, the rapid increase in demand has posed a series of new challenges that need to be addressed more effectively.
                           
                            we take a bottom-up, data-driven approach to identifying opportunities for sustainable growth — at home and around the world. Clients engage us to:
                          
                           </p> 
                            <ul>
       <li>
                                  <strong>  Find new revenue opportunities.</strong> Examples include new ways to deliver education, new types of degree- and nondegree-based programs, and new segments of students to serve. We can also support your efforts in transnational education via strategies for building pathway programs, introducing digital offerings and setting up a campus abroad.
                              
                                  </li>
                                  <li>
                                  <strong>  Find new revenue opportunities.</strong> Examples include new ways to deliver education, new types of degree- and nondegree-based programs, and new segments of students to serve. We can also support your efforts in transnational education via strategies for building pathway programs, introducing digital offerings and setting up a campus abroad.
                              
                                  </li>
                             <li>
                              <strong>  Meet/exceed student expectations.</strong> We bring insight into the needs of traditional and nontraditional students, both as they exist today and as they’re likely to play out in the future. This can touch on facilities, digitization, postgraduation employment prospects and more. We can also shed light on how much students are willing to pay for higher education, along with other factors that go into a student’s choice of institution.
                                 
                             </li>
                            <li>
                               <strong> Keep tuition hikes in check.</strong> From operational efficiencies to public-private partnership models and strategic reduction of structural costs, we work with you on ways to remain financially sustainable in a consumer-based education market.
                           
                            </li> 
                            </ul>
                          </div>
                          
                    </div>
                  </div>
                  
                  
                  </div>
               
                </div>
                
            </div>
       
            <div class="container-xxl py-5" >
                <div class="container">
                    <div class="container container--large"><div class="text-block text-block--center" data-component="text_block">
                        
                            <div class="text-center">
                                <h6 class="section-title bg-white text-center text-primary px-3">Transnational Education

                                </h6>
                                <h1 class="mb-5"></h1>
                            </div>
                      </div>
                      <div class="">
                        <div class="">
                     <p>
                        Not so long ago, globalization in higher education mostly meant studying abroad — usually at a different institution — for an academic term or two. Today, transnational education (TNE) can take many other forms. For instance, in addition to traveling abroad to study for a three- or four-year degree, students might earn a foreign degree online, at the local campus of a partnering institution or even at a local outpost of the foreign institution itself.

                        These innovations are a response to growing worldwide demand for educational choice, cultural exposure, language proficiency and professional mobility. However, meeting this demand can be tricky. It takes extensive networks and expertise to tap into the TNE student pool. It also takes carefully crafted programs that help international students get the most from their experience and put them firmly on the path to success. On top of that, it takes insight into nuances such as currency markets, immigration quotas, regulatory environments and the role of TNE in your long-term organizational goals.     
                      
                        We work with educational institutions, pathway providers and other stakeholders across the TNE continuum. Public or private, we can help you achieve sustainable growth with a view toward mobility trends, growth levers and key risk mitigation strategies.

                            More specifically, we support your efforts to:
                     </p>
                            <div>
                        
                                    <ul>
                                   <li>
                                  <strong>  Achieve international student acquisition goals.</strong> We can pinpoint the most attractive source countries for your organization — by offering, value proposition and alignment with each target country’s regulatory framework. Then we can help you build a strong recruitment engine in each source country via internal resources and/or external partnerships.
                                   </li>
                                   <li>
                                    <strong> Enable international student success.</strong> Sheltered or integrated classes? Mainstream or differentiated curriculum? In-house, sole-source or multipartner structure? Whatever the goal, we can evaluate the costs and benefits of the available options — and, from there, build an effective framework for the future.
                                     
                                   </li> 
                                   <li>
                                  <strong>  Expand your international footprint.</strong> We help you develop an in-depth understanding of students and competitors by country, including the effect each can have on your organization’s go-to-market strategy. We also work with you to craft a differentiated value proposition, customize it to student needs and use it to attract target students with global education aspirations. Finally, we can support decisions around international locations and online delivery.
                                </li> 
                                </ul>
                              </div>
                              
                        </div>
                      </div>
                      
                      
                      </div>
                   
                    </div>
                    
                </div>
     </section>
 
    <!-- Service End -->
    <section class=" py-5 bg-primary" id="contactus" style="height: 20px;">
      <div class="container">
       
        <div class="text-center">
          <h6 class="section-title  text-center text-white px-3">   Ready to take the next step?
              Call Now!</h6>
          <h1 class="mb-5"></h1>
      </div>
      </div>
    </section>
   
     
    <!-- Footer Start -->
    <%- include ('./partials/footer') %>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>