<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <style>
      .background-image {
  background-image: url("../../img/imp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

    </style>
    <style>
      
.title {
    font-size: 25px;
    font-weight: 100
}

.icon {
    position: relative;
    bottom: 11px
}

.mt-100 {
    margin-top: 100px
}

.profile img {
    width: 68px;
    height: 68px;
    border-radius: 50%
}

.card {
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2)
}

.card-body {
    position: relative;
    bottom: 35px
}



.btn:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    color: #fff
}

.header {
    padding-top: 40px
}
    </style>
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
 
    <%- include ('./partials/header') %>
    <!-- Navbar End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="img/oshabg.jpg" alt="" style="height: 650px;">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-sm-10 col-lg-8">
                                <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Occupational Safety and Health Trainings by a Certified 
                                    Trainers & Safety auditors 
                                </h5>
                                  <h1 class="display-3 text-white animated slideInDown">  </h1>
                                  <p class="fs-5 text-white mb-4 pb-2">
                                    OSH General Industry Trainings aim to provide employees and potential employees with the necessary knowledge, skills, and credentials to progress in the general industry field. These training certificates fulfill the requirements of individuals interested in pursuing a career in safety by offering a solid foundation for ongoing growth. They are also beneficial for those who already have safety responsibilities and wish to enhance their knowledge and professional credentials. Even experienced safety professionals without advanced degrees can derive value from these trainings.

                                    On the other hand, safety audits are conducted to ensure that a company has effective program elements in place for identifying, eliminating, or controlling hazards that could have negative impacts on its physical and human assets. ENTLE possesses expertise and experience in safety management auditing, enabling them to deliver high-quality services in accordance with ISO 45001 standards.
                                </p>
                                <a href="#more" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Read More</a>
                                <a href="#contactus" class="btn  py-md-3 px-md-5 animated slideInRight" style="background-color:rgb(248, 237, 84);">Contact Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    <!-- Carousel End -->


    <!-- Service Start -->
    <section id="more">
        <div class="container-xxl py-5" >
            <div class="container">
                <div class="container container--large"><div class="text-block text-block--center" data-component="text_block">
                    
                        <div class="text-center">
                            <h6 class="section-title bg-white text-center text-primary px-3">Services</h6>
                            <h1 class="mb-5"></h1>
                        </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8 ">
                        <h3>Occupational Safety and Health Trainings</h3>
                        <p>Provided by Certified Trainers</p>
                        <ul>
                          <li>Workplace Hazard Identification</li>
                          <li>Emergency Response and Evacuation Procedures</li>
                          <li>Safety Equipment Usage and Maintenance</li>
                          <li>Safe Work Practices and Procedures</li>
                          <li>Health and Safety Regulations Compliance</li>
                          <li>Risk Assessment and Management</li>
                          <li>Incident Investigation and Reporting</li>
                          <li>Ergonomics and Workplace Design</li>
                        </ul>
                      </div>
                      <div class="col-lg-4">
                        <img class="img-fluid" src="../../img/osha1.jpg">
                      
                      </div>
                  </div>
                 
                  <div class="row">
                    <div class="col-md-6">
                        <img class="img-fluid" src="../../img/osha2.png">
                    </div>
                    <div class="col-md-6">
                        <h3>Safety Auditors Services</h3>
                        <p>Provided by Certified Safety Auditors</p>
                        <ul>
                          <li>Comprehensive Safety Program Evaluation</li>
                          <li>Identification of Hazards and Risk Factors</li>
                          <li>Review of Safety Policies and Procedures</li>
                          <li>Workplace Inspections and Assessments</li>
                          <li>Compliance with OSHA and Regulatory Standards</li>
                          <li>Employee Training and Competence Assessment</li>
                          <li>Corrective Action Planning and Implementation</li>
                          <li>Continual Improvement Recommendations</li>
                        </ul>
                      </div>
                      
                  </div>
                  <div class="row">
                   
                    <div class="col-md-6">
                        <h3>Consulting Areas</h3>
                        <ul>
                          <li>OSHA Compliance Assessments</li>
                          <li>Workplace Safety Program Development</li>
                          <li>Safety Policy and Procedure Review</li>
                          <li>Hazard Identification and Risk Assessment</li>
                          <li>Incident Investigation and Root Cause Analysis</li>
                          <li>Safety Training Needs Analysis</li>
                          <li>Emergency Preparedness Planning</li>
                          <li>Safety Audits and Inspections</li>
                          <li>Regulatory Compliance Assistance</li>
                          <li>Safety Culture Development</li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <img class="img-fluid" src="../../img/osha4.jpg">
                      </div>
                  </div>
                  
                  </div>
               
                </div>
                
                <div class="container-xxl py-5" >
                    <div class="container">
                        <div class="container container--large"><div class="text-block text-block--center" data-component="text_block">
                            
                                <div class="text-center">
                                    <h6 class="section-title bg-white text-center text-primary px-3">Why  Us?</h6>
                                    <h1 class="mb-5"></h1>
                                </div>
                          </div>
                          <div class="">
                            <div>
                                <h3>Differentiators as Occupational Safety and Health Trainer, Safety Auditor, and Consultant</h3>
                                <ul>
                                  <li>
                                    <strong>Expertise and Certification:</strong> Our team holds relevant certifications and possesses extensive knowledge and expertise in the field of OSH.
                                  </li>
                                  <li>
                                    <strong>Customization and Tailored Approach:</strong> We provide customized solutions, understanding the unique needs and challenges of each organization we work with.
                                  </li>
                                  <li>
                                    <strong>Comprehensive Services:</strong> Our range of services covers safety audits, compliance assessments, program development, training, and ongoing consultation.
                                  </li>
                                  <li>
                                    <strong>Practical and Engaging Training:</strong> Our training programs are designed to be hands-on, practical, and interactive, incorporating real-life case studies and exercises.
                                  </li>
                                  <li>
                                    <strong>Proactive Hazard Identification and Risk Management:</strong> We assist organizations in identifying hazards and implementing robust risk management strategies.
                                  </li>
                                  <li>
                                    <strong>Compliance with Regulations and Standards:</strong> Our team stays updated with the latest OSH regulations and ensures clients' compliance with applicable standards.
                                  </li>
                                  <li>
                                    <strong>Focus on Continuous Improvement:</strong> We promote a culture of continuous improvement, encouraging regular training, audits, and program enhancements.
                                  </li>
                                  <li>
                                    <strong>Client-Centric Approach:</strong> We prioritize our clients' needs, fostering open communication, collaboration, and long-term partnerships.
                                  </li>
                                </ul>
                              </div>
                              
                              

                          </div>
                          
                          
                          </div>
                       
                        </div>
                        
                    </div>
        <div class="container-xxl py-5" >
            <div class="container">
                <div class="container container--large"><div class="text-block text-block--center" data-component="text_block">
                    
                        <div class="text-center">
                            <h6 class="section-title bg-white text-center text-primary px-3">What we do?</h6>
                            <h1 class="mb-5"></h1>
                        </div>
                  </div>
                  <div class="">
                    <div class="">
                
                        <div>
                            <ul>
                              <li>Legal Compliance: Offering OSH training helps companies fulfill their legal obligations to provide a safe working environment. By training employees on workplace hazards, safety protocols, and emergency procedures, companies can comply with OSHA regulations and other applicable health and safety laws.</li>
                              <li>Risk Reduction: OSH training equips employees with the knowledge and skills to identify and mitigate workplace hazards. By raising awareness about potential risks and providing training on proper safety practices, companies can reduce the likelihood of accidents, injuries, and illnesses in the workplace.</li>
                              <li>Employee Empowerment: OSH training empowers employees by giving them the necessary tools to protect themselves and their colleagues. Training sessions cover topics such as hazard recognition, proper equipment usage, emergency response, and safe work practices, enabling employees to actively participate in maintaining a safe working environment.</li>
                              <li>
                                Improved Safety Culture: When companies prioritize OSH training, they foster a strong safety culture within their organization. By investing in employee safety and consistently promoting safe work practices, companies encourage a mindset where safety becomes an integral part of the workplace culture.
                              </li>
                              <li>
                                Enhanced Productivity: A safe working environment leads to increased employee morale and productivity. OSH training reduces the occurrence of workplace incidents, injuries, and illnesses, resulting in fewer work disruptions and absences. Moreover, employees who feel secure and supported in their work environment are more likely to be engaged and perform at their best.
                              </li>
                              <li>
                                Compliance with Customer Requirements: Some clients or customers may require contractors or service providers to have OSH training programs in place. By offering OSH training, companies can meet these customer requirements and enhance their business opportunities.
                              </li>
                              <li>
                                Continued Professional Development: OSH training also benefits individual employees by providing them with valuable knowledge and skills. It enables them to enhance their professional qualifications, pursue career advancement opportunities, and contribute to a safer working environment wherever they go.
                              </li>
                            </ul>
                          </div>
                          
                    </div>
                  </div>
                  
                  
                  </div>
               
                </div>
                
            </div>
       
         
     </section>
 
    <!-- Service End -->
    <section class=" py-5 bg-primary" id="contactus" style="height: 20px;">
      <div class="container">
       
        <div class="text-center">
          <h6 class="section-title  text-center text-white px-3">   Ready to take the next step?
              Call Now!</h6>
          <h1 class="mb-5"></h1>
      </div>
      </div>
    </section>
    <div class="container-xxl py-5"  >
      <div class="container">
          <div class="container container--large" ><div class="text-block text-block--center" data-component="text_block">
              
                  <div class="text-center" >
                  
                      <h6 class="section-title bg-white text-center text-primary px-3">Why OSH ?</h6>
                      <h1 class="mb-5"></h1>
                  </div>
            </div>
            <div>
              <div class="" style="background-image: url('../../img/imp.jpg');  background-repeat: no-repeat;
              background-size: 600px 500px;">
                <h5 class="mb-3">There are several reasons why OSH is important:</h5>
              <div style="margin-left: 50%;">
                <p class="text-small" >
                


                  <h5 class="mb-3">1. Worker Safety:</h5> OSH plays a crucial role in protecting the safety and health of workers across various industries. By establishing and enforcing safety standards, OSHA helps prevent workplace accidents, injuries, and illnesses.
                  
                  <h5 class="mb-3">2. Compliance:</h5> OSH regulations require employers to comply with specific safety standards, including providing training, maintaining records, and implementing safety programs. Compliance with OSH standards helps ensure that employers prioritize the safety of their employees.
                  
                  <h5 class="mb-3">3. Legal Requirements:</h5> Failure to comply with OSH regulations can lead to legal consequences for employers. OSH conducts inspections and investigations to ensure that workplaces are meeting the required safety standards. Non-compliant employers may face penalties, fines, or other enforcement actions.
                  
                  <h5 class="mb-3">4. Training and Education:</h5> OSH provides training programs, resources, and educational materials to employers and employees to increase awareness of workplace hazards and promote safety practices. These programs help to develop a safety culture within organizations.
                  
                  <h5 class="mb-3">5. Industry Advancement:</h5> OSH's standards and regulations push industries to improve their safety practices and technologies. By continually updating and revising standards, OSH encourages the adoption of advanced safety measures, leading to overall industry advancements in worker protection.
                  
                  Overall, OSH plays a vital role in safeguarding worker health and safety, promoting compliance with safety regulations, and driving continuous improvement in workplace safety across various industries.
                                </p> 
              </div>
              </div>
            </div>
           
            
            </div>
         
          </div>
       
      </div>
      <div class="container-xxl py-5"  >
        <div class="container">
            <div class="container container--large" ><div class="text-block text-block--center" data-component="text_block">
                
                    <div class="text-center" >
                    
                        <h6 class="section-title bg-white text-center text-primary px-3">Our People</h6>
                        <h1 class="mb-5"></h1>
                    </div>
              </div>
          
             
              <div class='container mx-auto mt-5 col-md-10 mt-100'>
                <div class="header">
                    <div class="title">Our Expert Team</div>
                   
                </div>
                <div class="row justify-content-center pb-5">
                    <div class="card col-md-3 mt-100">
                        <div class="card-content">
                            <div class="card-body p-0">
                                <div class="profile"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583336/AAA/4.jpg"> </div>
                                <div class="card-title mt-4"> Angelina Frederic<br /> <small>Head of marketing at K mart</small> </div>
                                <div class="card-subtitle">
                                    <p> <small class="text-muted"> I expected anything less than perfect for the team of experts. They are the best team ever! </small> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-md-3 mt-100">
                        <div class="card-content">
                            <div class="card-body p-0">
                                <div class="profile"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583319/AAA/3.jpg"> </div>
                                <div class="card-title mt-4"> Noel Flantier<br /> <small>CEO of Redbull</small> </div>
                                <div class="card-subtitle">
                                    <p> <small class="text-muted"> I really enjoyed working with them, they are Group of Professionals and they know what they're Doing </small> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col-md-3 mt-100">
                        <div class="card-content">
                            <div class="card-body p-0">
                                <div class="profile"> <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg"> </div>
                                <div class="card-title mt-4"> David Gregory<br /> <small>Resident Dj at ibdc</small> </div>
                                <div class="card-subtitle">
                                    <p> <small class="text-muted"> I always wanted cool videos of my concerts never knew whom to talk to but they are amazing! </small> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                            
            
              </div>
           
            </div>
         
        </div> 
    <!-- Footer Start -->
    <%- include ('./partials/footer') %>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>